
<div class="modal fade bd-example-modal-lg" id="model" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog model-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Application</h5>
        <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="box p-2">
  <h2 class="text-center">Applicant List</h2>
  <div class="p-1 table-responsive">
    <table class="table table-striped" id="table">
      <thead>
        <tr>
          <th>Application No</th>
          <th>Name</th>
          <th>Mobile</th>
          <th>Course</th>
          <th>Batch</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr>
          <td>{{this.applicationNo}}</td>
          <td>{{this.user.name}}</td>
          <td>{{this.user.mobile}}</td>
          <td>{{this.course.COURSENAME}}</td>
          <td>{{this.batch.BATCHNAME}}</td>
          <td>
            <button class="btn w3-green" type="button" class="btn btn-primary" onclick="viewApplication()"
              data-toggle="" data-target=".bd-example-modal-lg">
              <i class="fas fa-eye"></i>
            </button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<script>
  function getUserData(email) {
    $.ajax({
      url: '/admin/view-application/' + applicationNo,
      method: 'get',
      success: (data) => {
        data = data.data
        $('#name').html(data.name)
        $('#email').html(data.email)
        $('#gender').html(data.gender)
        $('#college').html(data.college)
        $('#time').html(new Date(data.submissionTime))
        $('#items').html(() => {
          let items = ''
          for (x of data.items) {
            items += "<li>" + x + "</li>"
          }
          return items
        })
        if (data.emailVerificationStatus) {
          $('#badge').removeClass('bg-danger')
          $('#badge').addClass('bg-success')
          $('#badgeIcon').removeClass('fa-times')
          $('#badgeIcon').addClass('fa-check')
        } else {
          console.log('hello')
          $('#badge').removeClass('bg-success')
          $('#badge').addClass('bg-danger')
          $('#badgeIcon').removeClass('fa-check')
          $('#badgeIcon').addClass('fa-times')
        }
        $('#loading').hide()
      }
    })
  }

  $(document).ready(function () {
    $('#table').DataTable();
  });
  console.log({{ err }});

  let viewApplication = (applicationNo) => {
    $('#model').modal()
  }

</script>