<link rel="stylesheet" href="/stylesheets/user/scholarshipform.css">
<div class="box">
    <form id="form" class="row">
        <div class="col-md-12">
            <div class="modal-">
                <h4 class="modal-title fw-bold" style="margin-top: 1rem;" id="">Application Form</h4>
            </div>
            <div class="modal-body">
                <button class="accordion fw-bold active">Personal Details</button>
                <div class="panel" style="display: block;">
                    <div class="mt">
                        <div class="row">
                            <div class="col-lg-7 col-xs-12">
                                <label class="fw-bold">Scholarship
                                </label>
                                <div class="form-group">
                                    <input class="form-control ng-untouched ng-pristine ng-valid" type="text"
                                        value="{{scholarship.scholarshipName}}" disabled>
                                    <input type="text" hidden name="scholarshipListId" value="{{scholarship.ID}}">
                                </div>
                            </div>
                            <div class="col-lg-5 col-xs-12" tooltip="Name" ng-reflect-content="Name">
                                <label class="fw-bold">Name
                                </label>
                                <div class="form-group">
                                    <input class="form-control" type="text" disabled value="{{user.name}}">
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-12" tooltip="Name" ng-reflect-content="Name">
                                <label class="fw-bold">Email</label>
                                <div class="form-group">
                                    <input class="form-control" disabled value="{{user.email}}">
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-12">
                                <label class="fw-bold">Mobile
                                    <span class="text-danger"></span>
                                </label>
                                <div class="form-group">
                                    <input class="form-control" value="{{user.mobile}}" disabled>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-12">
                                <label class="fw-bold">Annual Income
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <input class="form-control" type="number" value="{{personal_details.annualIncome}}"
                                        name="annualIncome" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="fw-bold">Do you work part time?
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="partTimeJob"
                                            id="partTimeJob1" value="1" required>
                                        <div class="form-check-label">
                                            Yes
                                        </div>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="partTimeJob"
                                            id="partTimeJob2" value="0" required>
                                        <div class="form-check-label">
                                            No
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <label class="fw-bold">If so, what's the job?
                                    <span class="text-danger"></span>
                                </label>
                                <div class="form-group">
                                    <input class="form-control" type="text" value="{{personal_details.partTimeJobName}}" name="partTimeJobName">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="accordion fw-bold">Address Information</button>
                <div class="panel">
                    <div class="mt">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="fw-bold">Permanent Address
                                        <span class="text-danger">*</span>
                                    </label>
                                    <textarea required name="pAddress" value="{{personal_details.pAddress}}"
                                        class="form-control ng-untouched ng-pristine ng-valid" id="pAddress"
                                        placeholder="Permanent Address" rows="4" ></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="fw-bold">Communication Address
                                        <span class="text-danger">*</span>
                                    </label>
                                    <textarea required name="cAddress"
                                        class="form-control ng-untouched ng-pristine ng-valid" id="cAddress"
                                        placeholder="Communication Address" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="accordion fw-bold active">Contact Details</button>
                <div class="panel" style="display: block;">
                    <div class="mt">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12">
                                <label class="fw-bold">State
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <select required class="form-control" name="state" id="state">
                                        {{#if contact_details}}
                                        <option selected="">{{contact_details.state}}
                                        {{else}}
                                        <option disabled="true" selected="">Select State
                                        {{/if}}
                                        </option>
                                        {{#each states}}
                                        <option>{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-12">
                                <label class="fw-bold">District
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <select required class="form-control" onchange="getPanchayathTaluk()"
                                        name="district" id="district">
                                        {{#if contact_details}}
                                        <option selected="" value="{{contact_details.districtId}}">{{contact_details.district}}
                                        {{else}}
                                        <option disabled="true" selected="">Select District
                                        {{/if}}
                                        {{#each districts}}
                                        <option value="{{this.id}}">{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-12">
                                <label class="fw-bold">Village/Municipality
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <input class="form-control" required value="{{contact_details.panchayath}}" list="panchayath" name="panchayath"
                                        placeholder="Panchayath">
                                    <datalist id="panchayath">
                                        {{#each panchayaths}}
                                            <option>{{this.name}}</option>
                                        {{/each}}
                                    </datalist>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-12">
                                <label class="fw-bold">Taluk
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <input class="form-control" value="{{contact_details.taluk}}" required list="taluk" name="taluk" placeholder="Taluk">
                                    <datalist id="taluk">
                                        {{#each taluks}}
                                            <option>{{this.name}}</option>
                                        {{/each}}
                                    </datalist>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-12">
                                <label class="fw-bold">Ward No
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <input class="form-control" type="number" value="{{contact_details.wardNo}}" placeholder="Ward Number" name="wardNo"
                                        required>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-12">
                                <label class="fw-bold">Ward Member Name
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Ward Member Name"
                                        name="wardMemberName" value="{{contact_details.wardMemberName}}" required>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-12">
                                <label class="fw-bold">Mobile No
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <input class="form-control" type="number" placeholder="Ward Member Mobile"
                                        name="wardMemberMobile" value="{{contact_details.wardMemberMobile}}" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="accordion fw-bold ">Academic Details</button>
                <div class="" style="display: block;">
                    <div class="mt">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12">
                                <label class="fw-bold">
                                    Plus two
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="plusTwo"
                                        placeholder="Plus Two Percentage" value="{{academic_details.plusTwo}}" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-12">
                                <label class="fw-bold">
                                    Previous Sem
                                    <span class="text-danger"></span>
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="previousSem"
                                      value="{{academic_details.previousSem}}"  placeholder="Previous Sem Percentage">
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-12">
                                <label class="fw-bold">
                                    is Hosteler
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="isHosteler" id="isHosteler1"
                                            value="1" required>
                                        <div class="form-check-label">
                                            Yes
                                        </div>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="isHosteler" id="isHosteler2"
                                            value="0" required>
                                        <div class="form-check-label">
                                            No
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-xs-12">
                                <label class="fw-bold">Are you preparing for competitive exams?
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="competitiveExam"
                                            id="competitiveExam1" value="1" required>
                                        <div class="form-check-label">
                                            Yes
                                        </div>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="competitiveExam"
                                            id="competitiveExam2" value="0" required>
                                        <div class="form-check-label">
                                            No
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-xs-12">
                                <label class="fw-bold">If so, which Competitive Exam and coaching Institute?
                                    <span class="text-danger"></span>
                                </label>
                                <div class="form-group">
                                    <input class="form-control" type="text" value="{{academic_details.competitiveExamName}}"
                                        placeholder="Competitive Exam, coaching Institute" name="competitiveExamName">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn w3-blue" id="save" onclick="submitData(1)" type="button"> Save </button>
                <button class="btn w3-green" id="submit" type="button" onclick="submitData(2)"> Submit </button>
            </div>
        </div>
    </form>
</div>

<script>
    {{#if personal_details.partTimeJob}}
        $('#partTimeJob1').prop('checked',true)
    {{else}}
        $('#partTimeJob2').prop('checked',true)
    {{/if}}

    {{#if academic_details.competitiveExam}}
        $('#competitiveExam1').prop('checked',true)
    {{else}}
        $('#competitiveExam2').prop('checked',true)
    {{/if}}
    
    {{#if academic_details.isHosteler}}
        $('#isHosteler1').prop('checked',true)
    {{else}}
        $('#isHosteler2').prop('checked',true)
    {{/if}}

    $('#pAddress').val(`{{personal_details.pAddress}}`)
    $('#cAddress').val(`{{personal_details.cAddress}}`)
</script>

<script src="/js/scholarshipform.js"></script>