<div class="box">
    <h2 class="text-center mb-31">Academic Year</h2>
    <div>
        <table class="table" id="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Academic Year</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each academicYear}}
                <tr>
                    <td>{{this.academicName}}</td>
                    <td>{{this.startDate}}</td>
                    <td>{{this.endDate}}</td>
                    <td>
                        <button class="btn w3-green" onclick="deleteMember('{{this._id}}')"><i
                                class="fas fa-edit"></i></button>
                        <button class="btn w3-red" onclick="deleteMember('{{this._id}}')"><i
                                class="fas fa-trash"></i></button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>